#page {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  text-align: center;
}
.watch {
  border: 0px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 200px;
}
.watch img {
    width: 200px;
}
.description {
    text-align: center;
    font-weight: normal;
    width: 200px;
}