.Grid {
  display: grid;
  text-align: center;
}

@media all {
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media all and (max-width: 600px) {
  .Grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
