.GridItem {
  border: 0px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 150px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.GridItem img {
    width: 150px;
    border: 0px;
}
.description {
    text-align: center;
    font-weight: normal;
    width: 150px;
}