.GridItem {
  border: 0px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
.GridItem img {
    border: 0px;
}
.description {
    text-align: center;
    font-weight: normal;
}

@media all {
    .GridItem {
      width: 150px;
      margin-left: 50px;
      margin-right: 50px;
      margin-top:10px;
      margin-bottom: 90px;
  }
  .GridItem img {
    width: 150px;
}
.description {
    width: 150px;
}    
}

@media all and (max-width: 600px) {
    .GridItem {
      width: 60px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 40px;
  }
  .GridItem img {
    width: 60px;
}
.description {
    width: 60px;
    font-size: 11px;
}    
}
